.git/
.vscode/
.idea/
.npm-cache/

testcase/

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/

**/node_modules/
**/dist/
**/.tmp/
**/*.log

**/backend/records/

.DS_Store
Thumbs.db
